version: 1.0.{build}
init:
- ps: if (!(test-path "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community")) {Write-host ".NET Core tests require VS 2017"; Exit-AppveyorBuild}
image: Visual Studio 2017
install:
- nuget
- cmd: nuget restore
build:
  verbosity: minimal
